header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  font-family: "MontserratLight", sans-serif;

  & img {
    height: 95%;

    @media only screen and (max-width: 640px) {
      height: 2rem;
      width: 9.375rem;
    }
  }

  & nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;

    @media only screen and (max-width: 640px) {
      display: flex;
      justify-content: space-around;
    }

    & .navlink {
      color: $primary-color;
      margin-left: 6rem;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 500;

      @media only screen and (max-width: 640px) {
        display: flex;
        font-size: 0.75rem;
        margin: 0;
      }
    }
  }
}
