.layout {
  display: flex;
  flex-direction: column;
  padding: 0rem 3rem;
  @media only screen and (max-width: 640px) {
    padding: 0rem 1rem;
  }
}
main {
  // margin-top: 2rem;
  max-width: auto;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
