.layout {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  -webkit-appearance: none;
}
.main {
  margin-top: 2rem;
  max-width: 1440px;
  margin: 2rem;
  @media only screen and (max-width: 640px) {
    margin: 0.5rem;
  }
}

body {
  margin: 0;
  padding: 0;
}
