.slider {
  width: 100%;
  height: 50vh;
  position: relative;
}

.slide {
  width: 100%;
  height: 50vh;
  position: absolute;
  transition: all 0.5s;
  opacity: 0;
}

.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0rem 0rem 2rem 2rem;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  z-index: 10px;
  cursor: pointer;
  background-color: transparent;
  font-size: 6rem;
  color: $tertiary-color;
}

@media only screen and (max-width: 640px) {
  .btn {
    font-size: 3rem;
  }
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 25%;
  left: 2%;
}

.btn-next {
  top: 25%;
  right: 4%;
}

.image-count {
  position: absolute;
  color: $tertiary-color;
  font-size: 1rem;
  top: 85%;
  right: 49%;
}
