.collapse-dropdown {
  width: 100%;
  margin: 1rem 0rem;
  // transition: all 1s ease-in-out;
  // create key frame for smooth apparition
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0.3s;

  &_container {
    padding: 0rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $tertiary-color;
    background-color: $primary-color;
    border-radius: 0.5rem;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-delay: 0.3s;

    > h1 {
      font-size: 1.125rem;
      font-family: "MontserratLight", sans-serif;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &_content {
    background-color: $secondary-color;
    padding: 1rem 0rem 1rem 0rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    > p {
      padding: 0rem 1rem;
      font-size: 1.125rem;
      font-family: "MontserratLight", sans-serif;
      color: $primary-color;
    }
    > ul {
      padding: 0rem;
      > li {
        padding: 0rem 1rem;
        font-size: 1.125rem;
        font-family: "MontserratLight", sans-serif;
        color: $primary-color;
        list-style-type: none;
      }
    }
  }
}
