.rating-info {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 640px) {
  .rating-info {
    margin-top: 0rem;
  }
}

.star {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  color: $primary-color;
}
